# -----------------------------------------
# 1. Algemene OS- en editor-bestanden
# -----------------------------------------
# macOS
.DS_Store
._*

# VS Code
.vscode/

# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Data files
*.tsv
*.yaml

# Images 
*.png

# Python Cache & Overige
__pycache__/
*.py[cod]
.pytest_cache/

# Streamlit
.streamlit/secrets.toml
